.default-bg {
  background: none!important;
  background-color:hsla(232,15%,21%,1)!important; 
}

.content-container-centered {
  padding: 5.2rem 0;
  margin: 0 0.8rem;
}

.centered-content-grid {
  margin-top: 2.4rem

}

.centered-content-grid ul.centered-content-grid__list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.6rem;
  padding: 0;
  margin: 0;
}

.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item{
  display: flex;
  flex: 1 0 48%;
  gap: 0.6rem;
  margin: 0;
}

.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item  div.item_content{
  color: var(--md-typeset-color)!important;
}


.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item  div.item_content h2.card_title{
  font-weight: 700;
  margin-top: 0.175em;
}

.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item  div.content_icon{
  fill: currentcolor;
  background-color: var(--md-default-fg-color--lightest);
  border-radius: 100%;
  flex-shrink: 0;
  height: 2.2rem;
  padding: 0.55rem 0.4rem 0.4rem 0.4rem;
  width: 2.2rem;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210; 
  --md-primary-fg-color:        #b37400;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}
