// box-variant creates the main style for a colored section used on the site
@mixin box-variant($parent, $color-name, $color-value) {
    $text-color: color-yiq($color-value);
    @if type-of($color-value) == color {
        $link-color: mix($secondary, $text-color, lightness($color-value));
    } @else {
        $link-color: $secondary;
    }

    $link-hover-color: rgba($link-color, 0.5) !default;

    #{$parent} {
        &--#{$color-name} {
            color: $text-color;
            background: #{$color-value};
        }
    }

    // Improve contrast for the links in paragraphs.
    @include link-variant("#{$parent}--#{$color-name} p > a", $link-color, $link-hover-color, false);
}

// Styling for section boxes
.box {
    width: 100vw;
    .row {
        padding-left: 15vw;
        padding-right: 15vw;
        @include flex-row;
        @include xcross-centered;
    }
}

// This allows "painting by numbers"
@for $i from 1 through length($box-colors) {
    $c: nth($box-colors, $i);
    $name: $i - 1;

    @include box-variant(".box", $name, $c);
}

// Same as above with all the theme color names.
@each $color, $value in $colors {
    @include box-variant(".box", $color, $value);
}

@each $color, $value in $theme-colors {
    @include box-variant(".box", $color, $value);
}

@each $color, $value in $grays {
    @include box-variant(".box", $color, $value);
}
