@use 'sass:math';

@function color-yiq($background) {
  @if type-of($background) == color {
    $r: red($background);
    $g: green($background);
    $b: blue($background);
  
    $yiq: math.div($r * 299 + $g * 587 + $b * 114, 1000);
  
    @if ($yiq >= 128) {
      @return $dark;
    }
    @return $white;
  }
  @return #fff
}