@mixin hover() {
  &:hover { @content; }
}

@mixin sticky {
    position: sticky;
    width: 100%;
    z-index: 1;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin main-centered {
    justify-content: center;
}

@mixin cross-centered {
    align-items: center;
}

@mixin x-left {
    justify-content: flex-start;
}

@mixin x-left-right {
    justify-content: space-between;
}

@mixin x-left-right-even {
    justify-content: space-evenly;
}

@mixin left-right-centered {
    @include x-left-right;
    @include cross-centered;
}

@mixin left-right-centered-even {
    @include x-left-right-even;
    @include cross-centered;
}

@mixin left-centered {
    @include x-left;
    @include cross-centered;
}

@mixin xcross-centered {
    @include main-centered;
    @include cross-centered;
}

@mixin link-variant($parent, $color, $hover-color, $underline: false) {
    #{$parent} {
        color: $color;

        &:hover {
            color: $hover-color;
        }

        @if $underline {
            text-decoration: underline;
        }
    }
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}