// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// Theme colors

$primary: #D83C0E !default;
$primary-light: lighten($primary, 75%) !default;
$primary-gradient: linear-gradient(149.91deg, #7a4c75 14.36%, #9a6094 116.3%) !default;
$secondary: #0F2139 !default;
$primary-text:#14191F !default;
$secondary-text-light:#E0E5EB !default;
$secondary-text-dark:#52637A !default;
$background: #F6F7F9 !default;
$success: #2EAE4E !default;
$info: #C0E0DE !default;
$warning: #ED6A5A !default;
$danger: #FF170A !default;
$white: #fff !default;
$light: #D3F3EE !default;
$dark: #242327 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "primary-gradient": $primary-gradient,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

// UI element colors

$border-color: $gray-300 !default;

// Background colors for the sections on home page etc.
// This is a paint by number system, starting at 0, where 
// the number is taken from the shortcode's ordinal
// if not provided by the user.
$box-colors: $dark, $primary, $secondary, $info, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, $primary-light, $info !default;

$link-color: darken($secondary, 15%) !default;
$link-light-color: $white !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-light-hover-color: $secondary !default;
$link-hover-decoration: none !default;


// Fonts

$font-size-base: 1rem !default;

// Font weights

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-body-text: $font-weight-normal !default;
$headings-font-weight: $font-weight-medium !default;

// Heading sizes

$h1-font-size: $font-size-base * 2.25 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

// Display styles (can be customized for different targeted devices or any other reason)

$display1-weight: $font-weight-bold !default;
$display2-weight: $font-weight-medium !default;
$display3-weight: $font-weight-normal !default;
$display4-weight: $font-weight-light !default;
$display1-size: 3rem !default;
$display2-size: 2.5rem !default;
$display3-size: 2rem !default;
$display4-size: 1.75rem !default;

// Space

$spacer: 1rem;
$block-space-top-base: 4 * $spacer !default;
$block-space-bottom-base: 4 * $spacer !default;

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default;
$navbar-light-color: rgba($white, 0.75) !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
$yiq-contrasted-threshold: 200 !default;
