@import "variables";
@import "mixins";
@import "colors";
@import "boxes";
@import "buttons";

.aboutWrapper {
  margin-top: 7.5rem;
  margin-bottom: 7.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  background-size: cover;
  cursor: pointer;
  width: 100%;

  .aboutInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;

    .aboutTitle {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;

      letter-spacing: 0.01em;
      color: $primary-text;
    }

    .checkContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .checkIcon {
        left: 10%;
        color: $primary;
      }

      .checkText {
        color: $secondary-text-dark;
        font-size: 1.125rem;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        line-height: 123.5%;
      }
    }
  }
}
