@import "mixins";

.wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0px;

    @media only screen and (max-width: 800px) {
        @include flex-column;
        margin: 0;
    }
}

.column {
    flex: 1 0 40%;
    width: 100%;
}

.leftColumn {
    margin: 0rem 0px 0rem 0.0rem;;
    @media only screen and (max-width: 800px) {
        margin: 0.3rem 0;
    }
}

.rightColumn {
    margin: 0rem 0.7rem 0rem 0px;
    @media only screen and (max-width: 800px) {
        margin: 0.3rem 0;
    }
}