@import "variables";
@import "mixins";
@import "colors";
@import "boxes";
@import "buttons";

html,
body {
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  p, li, td {
    font-weight: $font-weight-body-text;
  }

  ul {
    list-style: none;
  }

  h1 {
    font-weight: $font-weight-bold;
    font-size: $h1-font-size;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: $h1-font-size;
    margin-bottom: 1rem;
  }

  h2:not(:first-child) {
    margin-top: 3rem;
  }

  h3 {
    font-size: $h3-font-size;
  }

  h4 {
    font-size: $h4-font-size;
  }

  h5 {
    font-size: $h5-font-size;
  }

  h6 {
    font-size: $h6-font-size;
  }

  h2 + h3 {
    margin-top: 1rem;
  }

  h3, > h4, > h5, > h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  a {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.

    @include hover() {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
    }
  }

  * {
    box-sizing: border-box;
  }

  section {
    margin: 0rem 0rem;
  }

  .col {
    @include flex-column;
  }

  ::-webkit-scrollbar {
    display:none
  }

  ::-webkit-scrollbar-track {
    background-color: $primary;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray-600;
    border-radius: 1.25rem;
    border: 0.25rem solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $gray-100;
  }
}
