@import "variables";
@import "mixins";

.mobilenav {
    background: $primary;
    min-height: 150vh;
    min-width: 100vw;
    height: calc(100vh - calc(100vh - 100%));
    font-size: $h5-font-size;
    z-index:5;
    @include flex-column;

    a {
        color: $link-light-color;
        font-weight: $font-weight-medium;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: $link-light-hover-color;
        text-decoration: none;
    }

    .stack {
        --gap: 1rem;
        --border-padding: 1rem;
        padding: 2rem;

        .stackitem {
            padding-bottom: 0.3rem;
            margin-bottom: 1rem;
            border-bottom: 0.063rem solid #333333;
            --gapX: 0.5rem;
            --gapY: 0.5rem;
            @include flex-row;
            @include cross-centered;
        }
    }
}

.nav {
    background: $secondary;
    color: $white;
    height: 3.5rem;
    min-height: 3rem;
    margin-top: 1.5rem;
    width: 100%;
    top: 0;
    border:none;
    @include flex-row;
    @include xcross-centered;
    @include sticky;
    // override z-index of sticky
    z-index:2;
    @include unselectable;

    ul {
        @include flex-row;
        @include xcross-centered;
    }

    ul li a {
        margin: 1rem 7rem;
    }

    a {
        color: $link-light-color;
        font-weight: $font-weight-medium;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: $link-light-hover-color;
        text-decoration: none;
    }

    .clogo {
        cursor: pointer;
    }

    // search bar
    .inputcontainer {
        display: flex;
        width: 32%;
        min-height: 100%;
        align-items: center;
    }

    .linksbar {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-size: 1rem;
        width: 100%;
        min-height: 50%;

        .textLink:hover {
            color:$white;
        }

        .textLink:visited {
            color:$white;
        }
    }
    .searchicon {
        color: $primary;
        text-align: center;
        margin-right: 3%;
    }

    .signinbutton {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary;
        background-color: $secondary;
        border: 0.063rem solid $primary;
        border-radius: 4.125rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 0.938rem;
        line-height: 1.625rem;
        letter-spacing: 0.029rem;
        text-transform: uppercase;
    }

    .innercontainer {
        @include flex-row;
        @include left-right-centered;
        width: 77%;
        min-height: 100%;
    }

    @media only screen and (max-width: 800px) {
        justify-content: space-between;
        @include xcross-centered;

        .clogo {
            flex: 1;
            @include flex-column;
            @include cross-centered;
        }

        .list {
            display: none;
        }
    }

    @media only screen and (min-width: 800px) {
        .hamburgermenu {
            display: none;
        }
    }

}
