@import "variables";
@import "mixins";
@import "colors";
@import "boxes";
@import "buttons";

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $secondary;
  background-size:cover;
  cursor: pointer;
  width: 100%;

  .heroContentWrapper {
    justify-content: center;
    align-items: center;

    .heroInteraction {
      width:40.5rem;
      margin-bottom: 9rem;
  
      .heroText {
        // height: 9rem;
        color:$white;
        font-family: 'Roboto';
        font-style: normal;
        // font-weight: 700;
        // font-size: 2.5rem;
        text-align: left;
        // line-height: 3rem;
        letter-spacing: -0.02em;
      }
  
      @media only screen and (min-width: 1200px) {
        .heroText {
          height: 9rem;
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
  
      @media only screen and (min-width: 992px) {
        .heroText {
          height: 7rem;
          font-weight: 600;
          font-size: 2.0rem;
          line-height: 2.5rem;
        }
      }
      
      .heroSubtext {
        margin-top: 1.5rem;
        height: 3.5rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 147%;
        color:$secondary-text-light;
      }
      
      .buttonContainer {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 3rem;
  
        .buttonLink {
          color:$white;
        }
  
        .getStartedButton {
          background: $primary;
          box-shadow: 0 1.563rem 1.563rem rgba(66, 66, 66, 0.15);
          border-radius: 2.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: 148%;
          text-align: center;
          color: $white;
          border-color: transparent;
          text-transform: none;
        }
        
        .learnMoreButton {
          background: none;
          box-shadow: 0rem 1.563rem 2rem rgba(66, 66, 66, 0.15);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          line-height: 133.4%;
          text-align: center;
          color: $white;
          border-color: $white;
          border-radius: 2.5rem;
          border-width: 0.188rem;
          text-transform: none;
        }
        
        @media only screen and (min-width: 1200px) {
          .learnMoreButton {
            padding: 1rem 2rem;
            font-size: 1.5rem;
          }

          .getStartedButton {
            padding: 1rem 2rem;
            font-size: 1.5rem;
          }
        }

        @media only screen and (min-width: 992px) {
          .learnMoreButton {
            font-size: 1.2rem;
          }

          .getStartedButton {
            font-size: 1.2rem;
          }
        }

        .learnMoreButton:hover {
          background:none;
          border-color: $white;
          border-width: 0.188rem;
        }
        
        .getStartedButton:hover {
          background-color: $primary;
        }
      }
      
    }
    
    .heroImage {
      position: relative;
      top: 4.5rem;
    }
  }

}

