@import "variables";
@import "mixins";

.container {
  min-height: 100vh;
  width: 100%;
  height: calc(100vh - calc(100vh - 100%));
  background-color: $background;
  @include flex-column;
  @include left-centered;

  @media only screen and (max-width: 800px) {
    margin-top: 3rem;
  }
}

.main {
  padding: 0 0;
  flex: 1;
  @include flex-column;
  @include left-centered;
}

.footer {
  width: 100%;
  min-height: 4.3rem;
  border-top: 1px solid #eaeaea;
  background: $white;
  @include flex-column;
  @include xcross-centered;

  ul {
    padding-inline-start: 0;
    @include flex-row;
    @include xcross-centered;
  }

  @media only screen and (max-width: 800px) {
    .legal ul {
      @include flex-column;
    }
  }

  ul li a {
    margin: 5px 10px;
    cursor: ponter;
  }

  .legalButton {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 133.4%;
    text-align: center;

    color: $primary-text;
    text-transform: none;
  }

  .legalButton:hover {
    background: transparent;
  }
}

.footer a {
  flex-grow: 1;
  color: $primary;
  font-weight: $font-weight-medium;
  @include flex-column;
  @include xcross-centered;
  @include hover() {
    color: $link-light-color;
    text-decoration: $link-light-color;
  }
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
