@import "variables";
@import "mixins";
@import "colors";
@import "boxes";
@import "buttons";

.productContainer {
  position:relative;
  align-items:center;
  justify-content: center;
  z-index: 1;
  display:flex;
  margin: 10rem 0rem;
  cursor: pointer;

  .productImage {
    position: relative;
    
    filter: drop-shadow(0rem 0.313rem 2.2rem rgba(54, 54, 54, 0.15));
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .productTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
  
    letter-spacing: -0.01em;
  
    color: $primary-text;
  }
  
  .productTextBlock {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.75rem;
    text-align: left;
  
    color: $secondary-text-dark;
  }
  
  .buttonContainer {
    width: 47.25rem;
    align-items: center;

    .buttonLink {
      color:$white;
    }

    .buttonLinkPrimary {
      color:$primary;
    }

    .howItWorksButton {
      background: $primary;
      border-radius: 2.5rem;
      border-width: 0.125rem;
      border-color: $primary;
      font-style: normal;
      font-weight: 600;
      line-height: 2.125rem;
      color: $white;
      text-transform: none;
    }
    
    .howItWorksButton:hover {
      background-color:$primary;
      border-color: $primary;
      border-width: 0.125rem;
    }
    
    .specsLink {
      background: none;
      box-shadow: 0rem 1.563rem 2rem rgba(66, 66, 66, 0.15);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      text-align: center;
      line-height: 133.4%;
      border-color: $primary;
      color: $primary;
      border-radius: 2.5rem;
      border-width: 0.188rem;
      text-transform: none;
    }
    
    .specsLink:hover {
      background: none;
      border-color: $primary;
      border-width: 0.188rem;
    }

    @media only screen and (min-width: 1200px) {
      .howItWorksButton {
        padding: 1rem 2rem;
        font-size: 1.5rem;
      }

      .specsLink {
        padding: 1rem 2rem;
        font-size: 1.5rem;
      }
    }

    @media only screen and (min-width: 992px) {
      .howItWorksButton {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }

      .specsLink {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
    }
  }
}


